.table-container {
  width: 80vw;
  height: 80vh;
  margin: 5vh auto;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: white;

  /* Ocultar scrollbar en todos los navegadores principales */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE y Edge */
}



table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

thead {
  background-color: darkred;
  color: white;
  font-size: 2.5vh;
  position: sticky;
  top: 0;
}

  th, td {
    padding: 1vh 1vw;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tbody {
    font-size: 2vh;
    
  }
  tbody tr:hover {
    transition:  0.3s;
    font-size: 2.5vh;
    background-color: #f2f2f2;
  }

  .contenedorAcciones { 
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }

  .botonAcciones {
    color: white;
    width: 3vw;
    height: 5vh;
    border-color: white;
    cursor: pointer;
    border-radius: 1vh;
  }
  .botonAcciones:hover {
    filter: brightness(1.3);
  }
  .botonRojo {
    
    background-color: #dc3546;
  }
  
  .botonAzul {
  background-color: #0d6efd;
  }
