{% extends "base.html" %}
{% block title %}Mesas{% endblock %}
{% block content %}
    <div class="contenedorCagitas">
        {% for mesa in Mesas%}
        {% if mesa.id_mesa != 99%}
        <a class="tamañoletara3  colorrojo subreayadoDinamico" href="{{ url_for('dashboard.crearNota', id_mesa=mesa.id_mesa) }}"><div class="cajitas"><b><h3>{{mesa.nombre}}</h3></b></div></a>
        {% endif %}
        {% endfor %}
    
    </div>
    <div class="tituloPagina">
        <b><a class=" colorrojo subreayadoDinamico" href="{{ url_for('dashboard.crearNota', id_mesa=99, nombre='Para llevar') }}">Para llevar</a></b>
    </div>





{% endblock %}