{% extends "base.html" %}
{% block title %}Calendario Dieta{% endblock %}
{% block content %}
<div class="contenedorCentro">
    <div class="contenedorCagitas">
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
        <div class="cajitas"></div>
    
    </div>
        <!-- introducir el for de la mesas aqui -->
    <div class="tituloPagina">
        <b><h1>hola {{usuario.nombre}}</h1></b>
    </div>


</div>



{% endblock %}